<%= form_with model: @thought, local: true do |form| %>

  <div class="flow-root">
  <% if @thought.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@thought.errors.count, "error")%> prohibited this thought from being saved: </h2>
      <ul>
        <% @thought.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.text_area(:text, class: "full-width", placeholder: "What's on your mind today?") %>
  </p>
    <%= form.submit class: "btn-primary pull-right" %>
    </div>
<% end %>

